/*=== Reset ===*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/*=== CSS Custom Variables ===*/
:root {
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(217, 12%, 63%);
  --Grey-900: hsl(213, 19%, 18%);
  --Grey-950: hsl(216, 12%, 8%);
  --Orange-500: hsl(25, 97%, 53%);
  --container-background: radial-gradient(
    circle at top,
    hsl(213, 19%, 17%),
    hsl(213, 25%, 12%)
  );

  /*=== CSS Custom Font Weights ===*/
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/*=== General Styles ===*/
html,
body {
  height: 100%;
}

html {
  font-size: 0.9375rem;
  font-family: Overpass, sans-serif;
}

body {
  background-color: var(--Grey-950);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*=== Main Container ===*/
.container:not([hidden]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--container-background);
  gap: 1rem;
  width: 87%;
  max-width: 28rem;
  padding: 1.8rem;
  border-radius: 1rem;
}

.container__icon {
  background-color: var(--Grey-900);
  border-radius: 50%;
  object-fit: contain;
  width: 2.5rem;
  padding: 0.8rem;
  overflow: visible;
}

.container__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container__heading {
  font-size: 1.5rem;
  font-weight: var(--font-weight-normal);
  color: var(--White);
}

.container__paragraph {
  font-size: 0.93rem;
  color: var(--Grey-500);
  line-height: 1.5rem;
  width: 100%;
  margin-block-end: 0.5rem;
}

.container__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-block-end: 0.8rem;
}

.button {
  background-color: var(--Grey-900);
  color: var(--Grey-500);
  text-align: center;
  font-size: 1rem;
  width: 2.67rem;
  height: 2.67rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button--submit {
  background-color: var(--Orange-500);
  padding: 0.8rem 0.8rem;
  font-size: 0.9rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2rem;
  width: 100%;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/*=== Submission Thank You Container ===*/
.submission:not([hidden]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--container-background);
  padding: 1.8rem;
  border-radius: 1rem;
  gap: 1.5rem;
  width: 87%;
  max-width: 28rem;
  height: 55%;
  max-height: 30rem;
}

.submission__logo {
  width: 10rem;
}

.submission__message {
  background-color: var(--Grey-900);
  padding: 0.6rem 0.8rem;
  border-radius: 2.13rem;
  text-align: center;
  color: var(--Orange-500);
  font-size: 0.9rem;
  font-weight: var(--font-weight-normal);
}

.submission__heading {
  color: var(--White);
  font-weight: var(--font-weight-normal);
  font-size: 1.6rem;
}

.submission__paragraph {
  text-align: center;
  color: var(--Grey-500);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

/*=== Hover States ===*/
.button:hover {
  background-color: var(--White);
  color: var(--Grey-900);
}

.button--submit:hover {
  background-color: var(--White);
}

/*=== Active Button ===*/
.button.active {
  background-color: var(--Orange-500);
  color: var(--Grey-950);
}

/*=== Focus State===*/
.button:focus-visible {
  outline: 0.133rem solid var(--Orange-500);
  outline-offset: 0.266rem;
  border-radius: 50%;
}

.button--submit:focus-visible {
  outline: 0.2rem solid var(--White);
  outline-offset: 0.266rem;
}

/*=== Reduced Motion ===*/
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }

  .button--submit {
    transition: none;
  }
}

/*=== Media Query 475px ===*/
@media (min-width: 31.66rem) {
  .container:not([hidden]) {
    min-width: 27%;
    letter-spacing: 0.03rem;
    padding: 2.5rem;
    border-radius: 2rem;
  }

  .container__icon {
    width: 3.1rem;
    padding: 1rem;
    margin-block-end: 0.8rem;
  }

  .container__heading {
    font-size: 1.8rem;
    font-weight: var(--font-weight-normal);
  }

  .container__paragraph {
    font-size: 0.87rem;
    letter-spacing: 0.07rem;
  }

  .container__buttons {
    gap: 1.5rem;
    margin-block-end: 1rem;
  }

  .button {
    font-size: 1.1rem;
    width: 3.33rem;
    height: 3.33rem;
  }

  .button--submit {
    width: 100%;
    padding: 0.8rem 0.8rem;
  }

  .submission:not([hidden]) {
    width: 27rem;
    height: 28rem;
    border-radius: 2rem;
  }

  .submission__logo {
    width: 10.67rem;
    margin-block-end: 0.67rem;
  }

  .submission__message {
    padding: 0.6rem 1rem;
    letter-spacing: 0.05rem;
    margin-block-end: 1rem;
  }

  .submission__heading {
    font-size: 1.8rem;
  }

  .submission__paragraph {
    font-size: 1rem;
    width: 92%;
  }
}
